.l-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.l-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-dashboard {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 4rem 4.5rem 1fr;
  background: var(--color-paragraph);
  height: 100vh;
}

.l-header {
  background: #fff;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.l-nav {
  background: #fff;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid #ccc;
}

.l-content {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}

.l-container {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10rem;
  grid-column-gap: 5rem;
}