.l-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.l-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}