.Home{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.Container-Carts{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 440px) ;
    position: absolute;
    top: 800px;

}
.Carts{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 2px solid;
    background-color: white;
    margin-left: 80px;
    border-radius: 20px;
    
}
.p{
    color: var(--color-main-dark);
    font-family: var(--body-font);
    font-size: 30px;
    margin-top: 30px;
}