.container {
  background: var(--color-main);
  padding: 30px 40px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    color: var(--color-paragraph);
    font-weight: normal;
  }

  &-description {
    color: var(--color-paragraph);
    align-self: center;
    font-size: 2rem;
  }
}