.nombre{
    font-size: 30px;
}
.img{
 
    width: 100%;
}
.h1{
    align-content: center;
    font-family: var(--body-font);
    font-size: 40px;
    color: var(--color-main-dark);
    position: absolute;
    top: 150px;
    left: 40px;
}
.tex{
    font-family: var(--body-font);
    font-size: 30px;
    color: var(--color-main-dark);
    position: absolute;
    top: 220px;
    left: 40px;
}
.checkList{
    position:absolute;
    top: 300px;
    left: 40px;
}
.ck{
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--color-main-dark);
    margin-top: 25px;
}
.items{
    display: flex;
    margin-bottom: 20px;
}

.section-img{   
    display: grid;
    grid-template-columns: repeat(2, 500px);
    position: absolute;
    top: 1200px;
    left: 180px;
    height: 400px;
    border: 3px solid var(--color-main-dark);
     border-radius: 15px;
   
   }
   .section-img1{  
    display: grid;
    grid-template-columns: repeat(2, 500px);
    position: absolute;
    top: 1650px;
    left: 180px;
    height: 400px;
    border: 3px solid var(--color-main-dark);
     border-radius: 15px;
   
   }

.global-container{
    position: relative;
}
.stock{

   width: 500px;
   height: 300px;
   position: relative;
    top: 50px;
   left: 60px;
    opacity: 0.9;
}
.pay{
    width: 480px;
    height: 350px;
    position: relative;
    margin-top: 20px;
    opacity: 0.9;
    margin-left: -15px;
}
.p1{
    font-size: 30px;
    color: var(--color-main-dark);
    font-family: var(--body-font);
    margin-top: 40px;
    margin-left: 70px
}
.p2{

    font-size: 30px;
    color: var(--color-main-dark);
    font-family: var(--body-font);
    width: 400px;
    margin-top: 40px;
    margin-left: 30px
}
