.item {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-image {
    height: 80px;
    width: 100px;
  }

  &-title {
    color: var(--color-paragraph);
    font-size: 2rem;
    font-weight: 500;
  }
}