.item-sidebar {
  padding: 12px 20px;
  cursor: pointer;
  &:hover {
    background: var(--color-main-dark);
  }
  &-title {
    color: var(--color-paragraph);
    font-weight: normal;
    font-size: .8rem;
    width: 100%;
    display: inline-block;
    height: 100%;
  }
}