.Mision{
font-family: var(--body-font);
font-size: 25px;
text-align: center;
position:relative;
bottom: 600px;
}

.contenedor_info{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
}
.Empresaria{
width: 600;
height: 600;
}
